header>h1{color:blue; font-size: 36; font-family: garamond}
article h1 {color: orange}
h1 +p{background-color: yellow}
p:nth-last-child(2){background-color: yellow}
img +p{background-color: yellow; color:red; font-style: italic;}
b.destacado, #japo{color: red; font-size: 36; font-style: italic;}
span.destacado{font-weight:bold; color: navy}

footer a{color: green}
footer>span{color: red; font-style: italic; font-family: courier; }
/*footer a:link{color: green}*/
i{color: green; font-family: courier; font-weight: bold;}

a:hover{color:gray; font-weight: bold}
/*h1 cabecera garamond*/
